/* Common*/
.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.btn.btn-black {
    font-weight: 600;
    color: #fff;
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    box-shadow: 2px 3.464px 10px rgba(1, 2, 2, 0.2);
    padding: 8px 40px;
}

.flip {
    transform: scaleX(-1);
}

.modal-content {
    background-color: transparent;
}

nav.navbar {
    background-color: #434343;
}

.navbar-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-layout .nav-link.disabled {
    color: #fff;
}

.navbar-layout a .nav-link-text {
    display: inline-block;
    padding-bottom: 1px;
    color: #fff;
    border-bottom: 1px solid #434343;
}


.navbar-layout a:hover .nav-link-text {
    border-bottom: 1px solid #fff;
}

.navbar-layout .fa {
    color: #fff;
    padding: 0 10px;
}

.dialog {
    position: relative;
    width: 460px;
    padding: 50px 50px 35px 50px;
    background-color: #fff;
    text-align: left;
}

.dialog-close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.dialog-close:hover {
    color: #fff;
    text-decoration: none;
}

.login-dialog-close:hover {
    cursor: pointer;
}

.dialog-form-title {
    display: block;
    font-size: 30px;
    line-height: 42px;
    color: #2a2a2a;
    font-weight: 600;
    margin-bottom: 30px;
}


/*Gallery*/
.gallery {
    position: relative;
}
.gallery .gallery-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    color: #d58e32;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 30px;
}

.gallery .gallery-title:after {
    content: '';
    width: 45px;
    border-bottom: 2px solid #d58e32;
    position: absolute;
    top: 37px;
    left: 15px;
}

.gallery .nav-tabs {
    font-weight: 600;
    border-bottom: 0;
}

.gallery .nav-item {
    width: 25%;
    text-align: center;
}

.gallery .nav-link {
    font-size: 18px;
    color: #2a2a2a;
    padding: 5px 0;
    border-radius: 0;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.gallery .nav-item:first-child .nav-link{
    border-left: 1px solid #e2e2e2;
}

.gallery .nav-link.active {
    color: #d58e32;
    background-color: #f4f5f7;
    border-top: 2px solid #d58e32;
    border-bottom: 1px solid #f4f5f7;
    border-left: initial;
}

.gallery .nav-link:hover {
    border: initial;
    border-top: 2px solid #d58e32;
}

.gallery .gallery-slider {
    width: 502px;
    height: 400px;
    margin-bottom: 5px;
    background-color: #f4f5f7;
}

.gallery .gallery-slider-nav {
    width: 450px;
    margin: 0 auto;
}

.gallery .gallery-slider-nav div {
    background-color: #f4f5f7;
    margin: 0 5px;
}

.gallery .gallery-slider img {
    display: block;
    background-color: #f4f5f7;
    max-height: 400px;
    max-width: 550px;
    margin: 0 auto;
}

.gallery .gallery-slider-nav div {
    background-color: #f4f5f7;
    margin: 0 5px;
}

.gallery .gallery-slider-nav img {
    background-color: #f4f5f7;
    border: 3px solid #fff;
    padding: 5px;
    height: 70px;
    width: 70px;
}

.gallery .slick-arrow,
.gallery .slick-arrow:hover,
.gallery .slick-arrow:focus {
    width: 35px;
    height: 70px;
    background-color: #000;
    z-index: 1000;
}

.gallery .slick-arrow.slick-prev:before {
    font-size: 10px;
    font-family: FontAwesome;
    content:"\f053";
    background-color: #000;
    color: #fff;
}

.gallery .slick-arrow.slick-next:before {
    font-size: 10px;
    font-family: FontAwesome;
    content:"\f054";
    background-color: #000;
    color: #fff;
}

/*Banner*/

.banner {
    padding: 70px 35px 35px 70px;
    font-size: 14px;
    line-height: 74px;
    background-color: #e8edf7;
    font-weight: 600;
}

.banner > * {
    display: block;
}

.banner-price {
    font-size: 18px;
    line-height: 38px;
    color: #2a2a2a;
}

.banner-price-value {
    font-size: 48px;
    line-height: 38px;
    color: #79ae30;
}

.banner-title {
    font-size: 48px;
    line-height: 38px;
    color: #d58e32;
}

.banner-img {
    width: 470px;
}

.banner .btn.btn-green {
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
    background-color: #79ae30;
    border-color: #79ae30;
    border-radius: 4px;
    width: fit-content;
    padding: 8px 18px;
    margin-top: 35px;
}

footer {
    background-color: #363636;
}

footer .fa {
    color: #9a9a9a
}

footer .fa:hover {
    color: #d58e32;
    cursor: pointer;
}

footer ul {
    margin: 0;
}


.footer-links {
    height: 335px;
    padding-top: 60px;
}

.footer-links h6 {
    color: #fff;
}

.footer-links a {
    display: block;
    color: #9a9a9a;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #363636;
    width: fit-content;
}

.footer-links a:hover {
    border-bottom: 1px solid #9a9a9a;
}

.footer-cards {
    margin-top: 35px;
}

.footer-copyright {
    background-color: #2a2a2a;
}

.footer-copyright-text {
    text-align: center;
    color: #9a9a9a;
}

.footer-copyright-row {
    align-items: center;
    height: 100px;
}